*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    background-color: #f4f4f4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    
}

.logo{
    color:#b81b1d;
}

.logo h2{
    font-size: 25px;
    font-weight: 400;
    
}

.logo p{
    font-weight: 900;
}

.main{
    width: 60%;
    height: 80vh;
    /* border: 1px solid black; */
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  
  /* left side division */
  .form-div{
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* login form style  */
  .login-form{
    /* display: none; */
    height: fit-content;
    width: 75%;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .input-field{
    width: 80%;
    height: 30px;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
  }
  
  .input-field:focus{
    outline: none;
    border-bottom: 2px solid rgb(173, 173, 173);
  }
  
  
  .btn{
    padding: 5px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
  }

  .welcome-div{
    width: 50%;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f2f7;
  }
  
  .hide-signup{
    display: none;
  }
  
  .display-login{
    display: block;
  }
  
  .hide-login{
    display: none;
  }
  
  .display-signup{
    display: block;
  }
  
  .display-forgot{
    display: block;
  }