*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    overflow-x: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    background-color: #f4f4f4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    
}

.logo{
    color:#b81b1d;
}

.logo h2{
    font-size: 25px;
    font-weight: 400;
    
}

.logo p{
    font-weight: 900;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.menu ul a{
    text-decoration: none;
    color: #b81b1d;
    
}

.menu ul a:hover{
    color: #ee4a4f;
}



.menu ul li{
    list-style: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.container{
    /* border: 1px solid red; */
    margin-top: 70px;
    
}

.left-div{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4f4;
    width: 250px;
    height: fit-content;
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    opacity: 0.95;
    z-index: 99;
    margin-top: 25px;
   
}

.left-div h2{
    color: #b81b1d;
}

.icon-div{
    width: 25px;
    height: 25px;
    background-color: #f4f4f4;
    position: absolute;
    top: 0;
    right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow{
    display: none;
}


.appoinment-btn{
    padding: 10px 20px;
    background-color:#ee4a4f;
    text-decoration: none;
    color: #ffffff;
    border-radius: 2px;
    font-weight: 700;
}
.check{
    padding: 10px 20px;
    background-color:#ee4a4f;
    text-decoration: none;
    color: #ffffff;
    border-radius: 2px;
    font-weight: 700;

}

.main-div{
    width: 100%;
    margin-top: 70px;
    /* border: 1px solid green; */
}

.main-div img{
    width: 100%;

}
.main-time-div{
    width: 85%;
    height: fit-content;
    background-color: #ec939326;  
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ed3237;



}

.people-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;
}

hr{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.text h3{
    color: #ed3237;
}



.footer-image{
    margin-bottom: -5px;

}

.footer-image img{
    width: 100%;
}


footer{
    width: 100%;
    background-color: #585454;
    height: 350px;
    padding-top: 40px;
    /* border: 1px solid red; */
   
}


.footer-main{ 
    display: flex;
    justify-content: center;
    

}

.footer-main .heading{
    text-align: center;
    color: #f4f4f4;
}


.hide-left-div{
    transform: translateX(-100%);
    transition: all 0.5s linear;
}


.display-arrow{
    display:block;
}

.hide-close{
    display: none;
}


