{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/admin_login.css' %}">
    <title>Admin Login</title>
</head>

<body>
    <!-- header  -->
    <header>
        <div class="header">
            <div class="logo">
                <h2>Jai Swaminarayan</h2>
                <p>Appointment management system</p>
            </div>
        </div>
    </header>

    <!--Admin login  -->
    <div class="main">
        <div class="form-div">
            <!-- login form  -->
            <form class="login-form">
                <div class="title">
                    <h1>Login</h1>
                </div><br>

                <input type="email" class="input-field" placeholder="Email" required><br><br>

                <input type="password" class="input-field" placeholder="Password" required><br><br>

                <input type="submit" value="Login" class="btn"><br>


            </form>

        </div>

        <div class="welcome-div">
            <h1>WELCOME.</h1>
        </div>
    </div>

</body>

</html>