{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&family=Roboto:wght@100;300;400;500&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/ab5e4afff4.js" crossorigin="anonymous"></script>
    <title>Title</title>
</head>

<body>
    <!-- header  -->
    <header>
        <div class="header">
            <div class="logo">
                <h2>Jai Swaminarayan</h2>
                <p>Appointment management system</p>
            </div>

            <!-- main menu  -->
            <div class="menu">
                <ul>
                    <div class="dropdown">
                        <li><a href="#" class="explore">EXPLORE</a></li>
                        <div class="dropdown-content">
                            <a href="#">Exihibition</a>
                            <a href="#">Contact</a>
                            <a href="#">About us</a>
                            <a href="/admin-login">Admin Login</a>
                        </div>
                    </div>
                    <li><a href="visit/">VISIT</a></li>


                </ul>
            </div>


        </div>
    </header>


    <!-- left div -->
    <div class="left-div">

        <div class="icon-div">
            <div class="close">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="arrow">
                <i class="fa-solid fa-arrow-right arrow"></i>
            </div>
        </div>

        <h2>TIMMING</h2><br>
        <div class="main-time-div">
            <div class="people-time">
                <div class="text">
                    <h3>OPD</h3>
                    <p>Mon-Fri</p>
                </div>
                <div class="time">
                    <p>10am-3pm</p>
                </div>
            </div>
            <hr>
            <div class="people-time">
                <div class="text">
                    <h3>Locals</h3>
                    <p>Mon-Fri</p>
                </div>
                <div class="time">
                    <p>10am-3pm</p>
                </div>
            </div>
            <hr>
            <div class="people-time">
                <div class="text">
                    <h3>Outsiders</h3>
                    <p>Mon-Fri</p>
                </div>
                <div class="time">
                    <p>10am-3pm</p>
                </div>
            </div>

        </div><br>

        <!-- appoinment button / -->
        <a class="appoinment-btn" href="/reg">Book Appoinment</a><br>
        <a class="check" href="#">Check Appoinment</a>
    </div>

    <div class="main-div">

        <img src="{% static 'images/akshardham_facts_and_figure_banner.jpg' %}" alt="">


    </div>

    
    <div class="footer-image">
        <img src="{% static 'images/bottomart_10.png' %}" alt="">
    </div>

    <footer>

        <div class="footer-main">
            <div class="heading">
                <h2>Jai Swaminarayan</h2>
                <p>Appointment management system</p>
            </div>
        </div>
    </footer>

</body>
<script src="{% static 'js/index.js' %}"></script>

</html>